$accent_font: 'Crimson Text', sans-serif;

body{
    font-family: 'Noto Serif JP', serif;
    line-height: 1.5;
    color: #151515;
}

.inner h2,
.inner h3,
.inner h4,
.inner p{
    font-weight: 600;
}

.inner h2{
    font-size: 40px;
}

.inner h3{
    font-size: 25px;
}

.inner h4{
    font-size: 18px;
}

header{
    width: 100%;
    height: 130px;
    position: relative;
    display: flex;
    padding-top: 9px;
}

/*共通*/
.breadcrumb{
    padding-left: 6.94%;
    margin-top: 40px;
}

.inner{
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.header_inner{
    background-color: #fff;
}

.header_logo {
    position: absolute;
    top: 9px;
    left: 100px;
}

.header_logo img{
    width: 42px;
    height: 90px;
    object-fit: cover;
}

.header_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4.4%;
}

.header_info{
    display: flex;
    line-height: 1;
}

.tel_box_text{
    font-size: 14px;
}

.tel_box_number{
    font-size: 35px;
    font-family: $accent_font;
    letter-spacing: 0.02em;
}

.tel_box_number span{
    font-size: 20px;
}

.common_cart_box{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: $accent_font;
}

.header_lists{
    display: flex;
    gap: 50px;
}

.header_item{
    transition: 0.2s;
}

.header_item:hover{
    color: #AF8F26;
}

.header_btn{
    background-color: #151515;
    text-align: center;
    padding: 30px 36px;
    position: absolute;
    top: 0; 
    right: 0;
    transition: 0.2s;
}

.header_btn:hover{
    background-color: #AF8F26;
}

.common_online_store{
    font-size: 20px;
    font-family: $accent_font;
    color: #fff;
    letter-spacing: 0.05em
}

//fv

.fv{
    width: 100%;
    height: 100%;
    position: relative;
}

.fv_slide{
    width: 100%;
    height: 100%;
    min-height: 480px; 
}

.fv_slide_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    animation: slider-1 32s linear infinite;

    &:nth-child(1){
        animation-delay: -2s;
    }

    &:nth-child(2){
        animation-delay: 6s;
    }

    &:nth-child(3){
        animation-delay: 14s;
    }

    &:nth-child(4){
        animation-delay: 22s;
    }
}

@keyframes slider-1 {
    /* 非表示状態からフェードインを開始する */
    0% {
        opacity: 0;
    }
    /* フェードインを完了し完全表示する */
    4.16% {
        opacity: 1;
    }
    /* ここまで完全表示を維持したらフェードアウトを開始する */
    33.33% {
        opacity: 1;
    }
    /* フェードアウトを完了し非表示にする */
    41.66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fv_slide_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reserve_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #151515;
    position: absolute;
    right: calc(100px / 1440px * 100%);
    bottom: 40px;
    z-index: 1;
}

.reserve_circle h4{
    margin-bottom: 6px;
}

.reserve_btn h4{
    font-size: 20px;
}

.reserve_circle p{
    margin-bottom: 10px;
}

.reserve_btn p{
    font-family: $accent_font;
    color: #AF8F26;
}
//top_about

.top_about{
    padding-top: 81px;
}

.top_about_text{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 312px;
}

.top_about_text h2,
.top_about_text h4,
.top_about_text p{
    writing-mode: vertical-rl;
}

.top_about_text h4{
    font-weight: 700;
    color: #AF8F26;
}

.top_about_detail{
    margin-left: 50px;
}

.detail_btn{
    display: inline-block;
}
.detail_btn a{
    font-size: 20px;
}

.detail_btn ::after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #A81212;
    text-align: center;
    margin: 15px auto 0;
}

.top_menu{
    padding-top: 81px;
    padding-bottom: 166px;
}


.top_menu_card{
    display: flex;
    align-items: center;
    gap:119px;
}

.top_menu_image{
    width: calc(700px / 1140px * 100%);
}

.top_menu_image img{
    width: 100%;
}

.top_menu_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(321px / 1140px * 100%);
    position: relative;
}

.top_menu_title{
    font-size: 50px;
    writing-mode: vertical-rl;
    text-align: end;
    margin-bottom: 83px;
}

.top_menu_title span{
    font-size: 25px;
}

.top_menu_title::after{
    content: "";
    display: block;
    width: 555px;
    height: 410px;
    background-image: url(../images/top_about_decoration.png);
    position: absolute;
    top: -83px;
    right: 0;
}

// .top_menu_title:last-child::after{
//     left: 0;
// }

.top_menu_text{
    line-height: 2;
    margin-bottom: 59px;
}

.top_menu_subimage img{
    width: 310px;
    height: 310px;
    margin-top: 57px;
}

.top_menu_card:nth-child(2){
    flex-direction: row-reverse;
    margin-top: 42px;
}

//top_product_list

.top_product_lists{
    background-image: url(../images/bg1.jpg);
    padding-top: 105px;
    padding-bottom: 87px;
}

.section_title{
    text-align: center;
}

.section_title h2{
   display: inline-block;
}

.section_title h2::after{
    content: "";
    display: block;
    width:auto;
    height: 18px;
    background-image: url(../images/title_decoration.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8.3px auto 0;
}

.top_product_list{
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin-top: 32px;
    margin-bottom: 51px;
}

.top_product_item{
    width: calc(360px / 1140px *100%);
}

.top_product_item_img img{
    width: 100%;
    object-fit: cover;
}

.top_product_item_body {
    width: 100%;
    background-color: #fff;
    padding: 20px 30px 32px;
}

.top_product_item_text{
    line-height: 1.55;
    margin-bottom: 10px;
}

.top_product_item_price{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.top_product_item_price h2{
    color:#AF8F26;
    font-family: $accent_font;
    
}

.top_product_item_price span{
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    color: #151515;
}

.top_product_item_price p{
    background-color: #EDEDED;
    font-size: 14px;
    letter-spacing: 0.08em;
    padding: 5px 10px 5px 11px;
    margin-left: 5px;
}

.top_product_item_buy{
    display: inline-block;
    border: 1px solid #151515;
    font-family: $accent_font;
    transition: 0.2s;
}

.top_product_item_buy:hover{
   background-color: #151515;
}

.top_product_item_buy a{
    display: flex;
    align-items: center;
    gap: 22px;
    width: 100%;
    font-size: 18px;
    padding: 9px 20px 8px;
}

.top_product_item_buy a:hover{
    color: #fff;
}

.archive_btn{
    text-align: center;
}

.archive_btn::after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #A81212;
    text-align: center;
    margin: 15px auto 0;
}

.archive_btn a{
    font-size: 20px;
}

//top_access
.top_access{
    padding-top: 172px;
    padding-bottom: 52px;
    position: relative;
}

.top_access::after{
    content: "";
    display: block;
    width: calc(1340px / 1440px *100%);
    height: 460px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../images/top_access_bg.png);
}

.top_access_body{
    display: flex;
    gap: 53px;
    margin-top: 50px;
}

.top_access_image{
    width: calc(560px / 1140px *100%);
    height: 560px;
}

.top_access_image img{
    width: 100%;
    object-fit: cover;
}

.top_access_box{
    width: calc(527px / 1140px *100%);
}

.top_access_map{
    display: flex;
}

// .top_company

.top_company{
    padding-top: 171px;
}

.top_company_inner{
    color: #fff;
    background-color: rgba(33, 30, 21, 0.8);
    text-align: center;
    padding-top: 61px;
    padding-bottom: 60px;
    position: relative;
}

.top_company_inner::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/top_company_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.top_company_text{
    width: calc(598px / 1140px *100%);
    margin: 0 auto;
}

.top_company_text h3{
    width: calc(546px / 598px *100%);
    line-height: 1.8;
    letter-spacing: 0.1em;
    margin: 40px auto 30px;
}

.top_company_text p{
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 50px;
}


// .top_news

.top_news{
    padding-top: 190px;
    padding-bottom: 118px;
}

.top_news_inner{
    display: flex;
    gap: 80px;
}

.top_news_title h2{
    color: #fff;
    letter-spacing: 0.03em;
    writing-mode: vertical-rl;
}

.top_news_title {
    height: 360px;
    background-color: #C1AE6C;
    padding: 31px 20px;
    margin-bottom: 57px;
}

.top_news_posts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top_news_post {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 980px;
  }
  
  .top_news_post_img {
    width: calc(220px / 980px * 100%);
    height: auto;
    object-fit: cover;
  }
  
  .top_news_post_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .top_news_post_body {
    width: calc(660px / 980px * 100%);
    background-color: #fff;
    border-right: 1px solid #151515;
    padding-right: 55px;
    margin-left: 30px;
  }

  .post_time{
    font-size: 14px;
    font-family: $accent_font;
    color: #818181;
    margin-bottom: 5px;
  }
  
  .post_title {
    margin-bottom: 15px;
    transition: 0.2s;
  }

  .post_title:hover{
    color: #AF8F26;
  }
  
  .post_text {
    color: #434343;
    line-height: 1.75;
  }

  //top_recruit

  .top_recruit{
    padding-top: 126px;
    padding-bottom: 182px;
    position: relative;
  }

  .top_recruit::before,
  .top_recruit::after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}

.top_recruit::before{
    width: 334px;
    height: 334px;
    background-image: url(../images/top_recruit_decoration1.png);
    top: 0;
    left: 6.94%;
  }

  .top_recruit::after{
    width: 363px;
    height: 363px;
    background-image: url(../images/top_recruit_decoration2.png);
    top: 223px;
    right: 11.45%;
  }



  .top_recruit_body{
    display: flex;
    gap: 78px;
}

.top_recruit_image{
    width: calc(670px / 1140px *100%);
  }
  
.top_recruit_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.top_recruit_box{
    width: calc(392px / 1140px *100%);
    text-align: center;
    
}

.top_recruit_box h2{
    font-size: 45px;
}

.top_recruit_box h3{
    width: calc(327px / 392px *100%);
    font-size: 30px;
    margin: 50px auto 30px;
}

.top_recruit_box p{
    margin-bottom: 50px;
}

.footer{
    color:#fff;
    background-image: url(../images/footer_bg.png);
    padding-top: 89px;
    padding-bottom: 42px;
}

.footer_info{
    display: flex;
    gap: 91px;
    padding-bottom: 53px;
}

.footer_info_box h3{
    font-size: 24px;
    margin-bottom: 30px;
}

.footer_reserve_box{
    display: flex;
    gap: 72px;
    margin-bottom: 43px;
}

.footer_tel_box_number{
    font-size: 40px;
    font-family: $accent_font;
}

.footer_tel_box_number span{
    font-size: 24px;
}

.footer_reserve_btn{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 26px 30px 25px;
}

.footer_reserve_btn h4{
    color: #151515;
    margin-right: 10px;
}

.footer_reserve_btn p{
    font-size: 14px;
    margin-right: 43px;
}

.footer_access{
    display: flex;
    gap: 63px;
}

.footer_access_list_title{
    margin-bottom: 8px;
}

.footer_border_horizon{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.footer_links{
    display: flex;
    padding-top: 48px;
}

.footer_nav{
    width: calc(375px / 1140px *100%);
}

.footer_nav_lists{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

.footer_nav_item{
    line-height: 1.4375;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-right: 21.56%;
}

.footer_nav_item:nth-child(4),
.footer_nav_item:nth-child(5),
.footer_nav_item:nth-child(6){
    margin-right: 0;
}

.footer_nav_item:nth-child(3n){
    margin-bottom: 0;
}

.footer_border_vertical{
    display: block;
    width: 1px;
    height: auto;
    background-color: #fff;
    margin: 0 74px;
}

.secondary_links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.secondary_link a{
    font-size: 14px;
    letter-spacing: 0.03em;
}

.footer_btn{
    text-align: end;
    margin-left: 11.57%;
}

.footer_btn .common_online_store{
    display: inline-flex;
    gap: 51px;
    width: 100%;
    background-color: #151515;
    border: 1px solid #fff;
    padding: 17px 30px;
    margin-bottom: 19px;
}

.footer_cart_box{
    justify-content: end;
}


//about
.about_fv_img{
    width: 100%;
    height: 100%;
}

.about_fv_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page_reserve{
    top: 100%;
    transform: translateY(-50%);
}

.page_about{
    padding-top: 90px;
}

.about_heading{
    position: relative;
    padding-bottom: 199px;
}

.about_heading_text{
    width: calc(550px / 1140px *100%);
}

.about_heading_text h3{
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 1.71875;
    margin-bottom: 40px;
}

.about_heading_text p{
    letter-spacing: 0.08em;
    line-height: 1.875;
}

.about_heading_img{
    width: 650px;
    height: 510px;
    position: absolute;
    top: -59px;
    right: 0;
}

.about_heading_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_photo{
    padding: 0 50px;
    position: relative;
}

.about_photo::before,
.about_photo::after{
    content: "";
    display: block;
    width: 100%;
    height: 890px;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: -1;
}

.about_photo::before{
    background-image: url(../images/bg1.jpg);
}

.about_photo::after{
    background-color: rgba(255, 255, 255, 0.7);
}

.about_title h2{
    display: block;
    margin-bottom: 40px;
}

.about_title h2::after{
    background-position: center;
    margin: 20px auto 0;
}

.about_photo_images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 3.5%;
}

.about_photo_img{
    width: calc(550px / 1140px *100%);
    height: 320px;
}

.about_photo_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_info{
    width: 100%;
    padding-top: 264px;
    padding-bottom: 170px;
    margin: 0 auto;
}

.about_info_lists{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    position: relative;
}

.about_info_lists::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/bg1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.about_info_list {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #DEDEDE;
}

.about_info_list:last-child{
    border-bottom: none;
}

.about_info_term {
    width: calc(247px / 1080px *100%);
    font-weight: 600;
    border-right: 1px solid #DEDEDE;
    padding: 20px 20px;
}
  
.about_info_description {
    width: calc(827px / 1080px *100%);
    font-weight: 600;
    padding: 20px 46px 20px 73px;
}

.about_info_description span{
    font-size: 14px;
}
  